html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(#434446, #2e2f31);
}

a {
    color: #000000;
    text-decoration: none;
}

h1, h2, p {
    margin: 0;
}