.wrapper {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}

.inner-wrapper {
    margin: 0 100px;
    @media (max-width: 600px) {
        margin: 0 18px;
    }
}

@media (max-width: 680px) {
    .mobile-hidden {
        display: none;
    }
}