.intro {
    display: flex;
    position: relative;
    min-width: 320px;
    height: calc((100vw - 80px) * 0.52);
    max-height: calc((1440px - 80px) * 0.52);
    background: $bg_color;
    @media (max-width: 940px) {
        height: auto;
    }
}

.intro__aside-wrapper {
    width: 80px;
    @media (max-width: 940px) {
        display: none;
    }
}

.intro__aside {
    display: flex;
    transform: rotate(90deg) translateX(17vw);
}

.intro__instagram {
    color: $main_color;
    font-family: FuturaDemiC;
    font-size: 1.4rem;
    padding-right: 64px;
    position: relative;
    &:hover, &:focus, &:active {
        padding-right: 68px;
    }
}

.intro__instagram::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 2px;
    background: $main_color;
}

.intro__content-wrapper {
    width: calc(100% - 80px);
    padding: 13% 0 13% 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url(../img/intro.png);
    background-position: center;
    background-size: cover, 100% auto;
    background-repeat: no-repeat;
    @media (max-width: 1140px) {
        padding-top: 6%;;
    }
    @media (max-width: 940px) {
        width: 100%;
    }
    @media (max-width: 680px) {
        padding: 85px 0 60px;
        background-size: cover, auto 100%;
    }
}

.intro__content {
    width: 520px;
    @media (max-width: 680px) {
        width: 340px;
        margin: 0 auto;
    }
    @media (max-width: 360px) {
        width: auto;
        margin: 0 14px;
    }
}

.intro__heading {
    margin-bottom: 20px;
    font-family: Yeseva One;
    font-size: 4rem;
    font-weight: normal;
    font-style: normal;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
    @media (max-width: 680px) {
        margin-bottom: 16px;
        font-size: 2.3rem;
        line-height: 31px;
    }
}

.intro__heading-city {
    color: $main_color;
}

.intro__desc {
    margin-bottom: 45px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    @media (max-width: 680px) {
        margin-bottom: 32px;
        font-size: 1.8rem;
        line-height: 24px;
    }
}

.intro__scroll-down {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    padding: 40px 90px 40px 48px;
    font-family: Yeseva One;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #ffffff; 
    background: url(../img/scroll_down.svg) right 44px center no-repeat $bg_color;
    &:hover, &:focus, &:active {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    @media (max-width: 940px) {
        display: none;
    }
}